

.frame-menu{
    align-content: center;
    text-align: center;
    width: 100%;
}

.text-w {
  position: relative;
  margin-top: 80px;
  margin-bottom: 0px;
  font-family: "Mairy-Bold", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
}

.span {
  position: relative;
  height: 8px;
  margin-top: 20px;
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 1.5em;
  margin-left: 8%;
  margin-right: 8%;
}

.span-2 {
  position: relative;
  height: 8px;
  margin-top: 80px;
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 1.5em;
}

.span-3 {
  position: relative;
  height: 8px;
  margin-top: 20px;
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 1.5em;
}

.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    position: relative;
    margin: 10%;
    padding-bottom: 50px;

}
.div-2{
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 10px;
}

.icon{

    width: 20px;

    padding-top: 35px;
}

.icon-2{
  margin-left: 5px;
  height: 18px;
  width: 18px;
}


/* .frame-8 {
  display: flex;
  height: 390px;
  align-items: center;
  gap: 20px;
  padding: 0px 23px 0px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #6a422e;
  overflow: hidden;
} */

@media screen and (min-width: 1200px){
  
.frame {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.istockphoto {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 38px;
  right: 165px;
  object-fit: cover;
}

.element-bandeira {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 38px;
  right: 90px;
  object-fit: cover;
}

.element-inglaterra {
  position: absolute;
  width: 84px;
  height: 47px;
  top: 35px;
  right: 0px;
  object-fit: cover;
}

.img {
  position: absolute;
  width: 136px;
  height: 65px;
  top: 26px;
  left: 29px;
  object-fit: cover;
}

.group-wrapper {
  width: 100%;
}

.banner {
  width: 100%;
  padding-top: 7.5em;
}

.frame-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 52px;
  padding: 83px 90px;
  padding-right: 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #6a422e;
}

.map-maker-praa-da {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 385.33px;
  object-fit: cover;
}

.terreiro-pra-a-da {
  position: relative;
  flex: 1;
  height: 415px;
  margin-top: -1.00px;
  font-family: "Mairy-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-6 {
  font-weight: 700;
  color: #300200;
  text-decoration: underline;
}

.text-wrapper-7 {
  font-weight: 700;
  color: #300200;
}

.text-wrapper-8 {
  font-family: "Mairy-Regular", Helvetica;
  color: #300200;
}

.text-wrapper-9 {
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #300200;
  text-decoration: underline;
}

.text-wrapper-10 {
  font-family: "Mairy-Regular", Helvetica;
  color: #000000;
  text-decoration: underline;
}

.hor-rio-segunda {
  position: relative;
  flex: 1;
  height: 415px;
  margin-top: -1.00px;
  font-family: "Mairy-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-11 {
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #300200;
  padding-right: 0px;
  margin-right: 0px;
}

.logo-instagram-png {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 408px;
  right: 220px;
  background-blend-mode: soft-light;
  object-fit: cover;
}

.element {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 410px;
  right: 100px;
  background-blend-mode: soft-light;
  object-fit: cover;
}

}

@media screen and (max-width: 1199px) and (min-width:600px){

.frame {
  display: flex;
  gap: 358px;
  padding: 26px 29px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.img {
  position: relative;
  width: 136.28px;
  height: 65px;
  object-fit: cover;
}

.istockphoto {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 38px;
  right: 165px;
  object-fit: cover;
}

.element-bandeira {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 38px;
  right: 90px;
  object-fit: cover;
}

.element-inglaterra {
  position: absolute;
  width: 84px;
  height: 47px;
  top: 35px;
  right: 0px;
  object-fit: cover;
}

.group-wrapper {
  width: 100%;
}

.banner {
  width: 100%;
}

.frame-8 {
  display: flex;
  height: 390px;
  align-items: center;
  gap: 20px;
  padding: 0px 23px 0px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #6a422e;
  overflow: hidden;
}

.map-maker-praa-da {
width: 0px;
}

.terreiro-pra-a-da {
  position: relative;
  width: 415px;
  height: 264px;
  font-family: "Mairy-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-6 {
  font-weight: 700;
  color: #300200;
  text-decoration: underline;
}

.text-wrapper-7 {
  font-weight: 700;
  color: #300200;
}

.text-wrapper-8 {
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #300200;
}

.text-wrapper-9 {
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #300200;
  text-decoration: underline;
}

.text-wrapper-10 {
  font-family: "Mairy-Regular", Helvetica;
  color: #000000;
  text-decoration: underline;
}

.hor-rio-segunda {
  position: relative;
  width: 325px;
  height: 264px;
  margin-right: -23.00px;
  font-family: "Mairy-Bold", Helvetica;
  font-weight: 400;
  color: #300200;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-11 {
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
}

.logo-instagram-png {
  position: absolute;
  width: 75px;
  top: 232px;
  left: 80px;
  background-blend-mode: soft-light;
  object-fit: cover;
}

.element {
  position: absolute;
  width: 75px;
  top: 232px;
  left: 160px;
  background-blend-mode: soft-light;
  object-fit: cover;
}
}

@media screen and (max-width: 599px){

/* *{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
} */

.text-w {
  position: relative;
  margin-top: 80px;
  margin-bottom: 0px;
  font-family: "Mairy-Bold", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

.span {
  position: relative;
  height: 8px;
  margin-top: 20px;
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 1.3em;
}

.span-3 {
  position: relative;
  height: 8px;
  margin-top: 20px;
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 1.3em;
}

.span-2 {
  position: relative;
  height: 8px;
  margin-top: 80px;
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 1.3em;
}

.frame {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 358px;
  padding: 5px 29px 6px 13px;
  position: relative;
  margin-right: -2.00px;
}

.element-inglaterra {
  position: absolute;
  width: 53px;
  height: 31px;
  top: 9px;
  right: 0px;
  object-fit: cover;
}

.img {
  position: relative;
  width: 60px;
  height: 28px;
  object-fit: cover;
}

.istockphoto {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 11px;
  right: 110px;
  object-fit: cover;
}

.element-bandeira {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 11px;
  right: 60px;
  object-fit: cover;
}

.group-wrapper {
  width: 100%;
}

.banner {
  width: 100%;
  padding-top: 0em;
}

.frame-8 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 19px 30px;
  padding: 43px 55px 86px 49px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #6a422e;
  height: 100%;
}

.map-maker-praa-da {
    position: relative;
width: 0px;
}

.terreiro-pra-a-da {
  position: relative;
  width: 247px;
  height: 91px;
  margin-top: -1.00px;
  margin-right: -33.00px;
  font-family: "Mairy-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-6 {
  color: #300200;
  text-decoration: underline;
}

.text-wrapper-7 {
  color: #300200;
}

.text-wrapper-8 {
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #300200;
  text-decoration: underline;
}

.text-wrapper-9 {
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
  color: #300200;
  text-decoration: underline;
}

.hor-rio-segunda {
  position: relative;
  width: 246px;
  height: 188px;
  margin-right: -32.00px;
  font-family: "Mairy-Regular", Helvetica;
  font-weight: 400;
  color: #300200;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  padding-left: 30px;
}

.text-wrapper-10 {
  font-family: "Mairy-Regular", Helvetica;
  font-weight: 400;
  color: #300200;
  font-size: 16px;
  letter-spacing: 0;
}

.text-wrapper-11 {
  font-family: "Mairy-Thin", Helvetica;
  font-weight: 100;
}

.logo-instagram-png {
  position: absolute;
  width: 50px;
  top: 350px;
  left: 70px;
  background-blend-mode: soft-light;
  object-fit: cover;
}

.element {
  position: absolute;
  width: 50px;
  top: 350px;
  left: 130px;
  background-blend-mode: soft-light;
  object-fit: cover;
}



}